<div class="footer">
    <!-- <div class="col">
        <div class="sub-footer">
            <a class="navbar-brand" href="#">Linked <i class="fa-brands fa-linkedin"></i></a>
            <p class="text-muted">© 2021</p>
        </div>
        <a href="#">About</a>
    </div> -->

    <ul class="navbar-nav">
        <li class="nav-item"><a class="navbar-brand" href="#">Linked<i class="fa-brands fa-linkedin"></i></a>© 2023</li>
        <li class="nav-item"><a href="#">About</a></li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="#">Accessibility</a></li>
        <li class="nav-item"><a href="#">User Agreement</a></li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="#">Privacy Policy</a></li>
        <li class="nav-item"><a href="#">Cookie Policy</a></li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="#">Copyright Policy</a></li>
        <li class="nav-item"><a href="#">Brand Policy</a></li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item"><a href="#">Guest Control</a></li>
        <li class="nav-item"><a href="#">Community Guidelines</a></li>
    </ul>
    
    <ul>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" aria-expanded="false">
              Language
              <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>
    </ul>
    
    
</div>