<button #red>red</button>
<app-input>
    <input #input type="text">
<p #input>welcome</p>
</app-input>
<div class="body">
    <!-- <app-navbar></app-navbar> -->
    
    <div class="col-lg-6 col=lg-12">
        <h1>Find jobs through your community</h1>
        <form>
            <label for="username">Email or Phone</label>
            <input type="text" class="form-control" name="username" required />

            <label for="password">Password</label>
            <input type="text" class="form-control" name="username" required />
            <span>
                <!-- <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i> -->
                <a href="">Show</a>
                <!-- <button type="button">Show</button> -->
             </span>
        </form>

        <a href="" class="forgotpass">Forgot password?</a>
        <div class="buttons">
            <a href=""><button class="btn-link" style="background-color: rgba(0, 0, 255, .8); color: #fff; border-color: transparent;">Sign In</button></a>

            <div class="hr">
                <hr> <p>or</p> <hr>
            </div> 
            <div class="text">
                <p>By clicking Continue, you agree to LinkedIn’s <a href="" style="font-weight: 500;">User Agreement, Privacy Policy, and Cookie Policy</a>.</p>
            </div>
            <a href=""><button class="btn-link" style="height: 45px; border-color: rgba(0, 0, 0, .3);"> <i class="fab fa-google"></i>          Continue with Google </button></a>
            <a href=""><button class="btn-link">New to LinkedIn? Join Now</button></a>
        </div>
            
       
        <!-- <form>
    
            <label for="username">Username</label>
            <input type="text" placeholder="" id="username">
    
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">
    
            <button>Log In</button>
            <div class="social">
              <div class="go"><i class="fab fa-google"></i>  Google</div>
              <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
            </div>
        </form> -->
    </div>

    <!-- <img class="flip-rtl block z-[-1] w-[700px] h-[560px] relative flex-shrink babybear:w-[374px] babybear:h-[214px] babybear:static" 
    alt="Find jobs through your community" data-test-id="hero__illustration" 
    src="https://media.licdn.com/media//AAYQAgSrAAgAAQAAAAAAAEFQ0SVTwDSXRqWvckCS4gYqEA.svg"> -->
    <!-- <img class="home" alt="" src=""> -->
    
    <img class="home" alt="Find jobs through your community" data-test-id="hero__illustration" 
    src="https://media.licdn.com/media//AAYQAgSrAAgAAQAAAAAAAEFQ0SVTwDSXRqWvckCS4gYqEA.svg">



   
</div>

<app-explore></app-explore>
<app-findjob></app-findjob>
<app-postjob></app-postjob>
<app-opentowork></app-opentowork>
<app-connect></app-connect>
<app-who-is-linked-in-for></app-who-is-linked-in-for>
<app-join></app-join>
<app-links></app-links> 
