<div class="main">
    <div class="explore">
        <div class="text">
            <img src="../../../assets/connect1.svg" alt="">
            <h1>Connect with people who can help</h1>
            <ul class="col">
                <li class="nav-item"><a href="#"><button class="btn-link">Find people you know</button></a></li>
            </ul>
        </div>

        <div class="text skills">
            <img src="../../../assets/connect2.svg" alt="" class="skill">
            <h1>Learn the skills you need to succeed</h1>
            <ul class="col">
                <li class="nav-item"><a href="#"><button class="btn-link-skill">Choose a topic to learn about </button></a></li>
            </ul>
        </div>
        
        <!-- <div class="button">
            
        </div> -->
    </div>
</div>

