<div class="row" id="links">
    <div class="col">
      <!-- <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a> -->
      <a class="navbar-brand" href="#">Linked<i class="fa-brands fa-linkedin" style="color: #0545b3;"></i></a>
      <!-- <p class="text-muted">© 2021</p> -->
    </div>


    <div class="col">
      <h5>General</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Sign Up</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Help Center</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Press</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Blog</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Careers</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Developers</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Browse LinkedIn</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Learning</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Jobs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Salary</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Mobile</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Services</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Products</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Business Solutions</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Talent</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Marketing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Sales</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Learning</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Directories</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Members</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Jobs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Companies</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Featured</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Learning</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Posts</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Articles</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Schools</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">News</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">News Letters</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Services</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Products</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Advice</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">People Search</a></li>
      </ul>
    </div>
</div>

