<div class="main">
    <div class="explore">
        <div class="text">
            <h1>Explore collaborative articles</h1>
            <p>
                We're unlocking community knowledge in a new
                way. Experts add insights directly into each 
                article, started with the help of AI.
            </p>
        </div>
        
        <div class="button">
            <ul class="col">
                <li class="nav-item"><a href="#"><button class="btn-link">Marketing</button></a></li>
                <li class="nav-item"><a href="#"><button class="btn-link">Public Administration</button></a></li>
                <li class="nav-item"><a href="#"><button class="btn-link">Healthcare</button></a></li>
                <li class="nav-item"><a href="#"><button class="btn-link">Engineering</button></a></li>
            </ul>
            <ul class="col">
                <li class="nav-item"><a href="#"><button class="btn-link">Talent Management</button></a></li>
                <li class="nav-item"><a href="#"><button class="btn-link">IT Services</button></a></li>
                <li class="nav-item"><a href="#"><button class="btn-link">Sustainability</button></a></li>
            </ul>
            <ul class="col">
                <li class="nav-item"><a href="#"><button class="btn-link">Business Administration</button></a></li>
                <li class="nav-item"><a href="#"><button class="btn-link">Telecommunications</button></a></li>
                <li class="nav-item"><a href="#"><button class="btn-link" style="color:rgba(0, 0, 255,.5); border-color: rgba(0, 0, 255,.5);">Show all</button></a></li>
            </ul>
        </div>
    </div>
</div>

